<div class="modal fade" id="modal-shipping-cost-summary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Summary</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h3>Estimated Duties, Taxes, and Other Charges</h3>
            <table class="table table-bordered table-condensed">
              <tbody>
                <tr>
                  <td>Duties and Taxes</td>
                  <td><input data-bind="value: summary.dutiesAndTaxes" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Brokerage Fee</td>
                  <td><input data-bind="value: summary.brokerageFee" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>VAT on Brokerage Fee</td>
                  <td><input data-bind="value: summary.vatOnBrokerageFee" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>                        
                <tr>
                  <td>Terminal Handling Charge (THC)</td>
                  <td><input data-bind="value: summary.terminalHandlingCharge" type="number" step="any" class="form-control input-sm"></td>
                </tr> 
                <tr>
                  <td>Container Deposit</td>
                  <td><input data-bind="value: summary.containerDeposit" type="number" step="any" class="form-control input-sm"></td>
                </tr>
                <tr>
                  <td>Encoding Fee</td>
                  <td><input data-bind="value: summary.encodingFee" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Customs Doc Stamps</td>
                  <td><input data-bind="value: summary.customsDocStamps" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>SDV Stamps</td>
                  <td><input data-bind="value: summary.sdvStamps" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Arrastre</td>
                  <td><input data-bind="value: summary.arrastre" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Wharfage</td>
                  <td><input data-bind="value: summary.wharfage" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Storage Fee</td>
                  <td><input data-bind="value: summary.storageFee" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Demurrage Charges</td>
                  <td><input data-bind="value: summary.demurrageCharges" type="number" step="any" class="form-control input-sm"></td>
                </tr>
                <tr>
                  <td>Equipment Insurance Clearance</td>
                  <td><input data-bind="value: summary.equipmentInsuranceClearance" type="number" step="any" class="form-control input-sm"></td>
                </tr>
                <tr>
                  <td>PDEA Clearance</td>
                  <td><input data-bind="value: summary.pdeaClearance" type="number" step="any" class="form-control input-sm"></td>
                </tr>
                <tr>
                  <td>Customs Forms/Xerox/Notarial</td>
                  <td><input data-bind="value: summary.customsFormsXeroxNotarial" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Documentation/Processing</td>
                  <td><input data-bind="value: summary.documentationProcessing" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Port Handling</td>
                  <td><input data-bind="value: summary.portHandling" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Examination</td>
                  <td><input data-bind="value: summary.examination" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>Delivery</td>
                  <td><input data-bind="value: summary.delivery" type="number" step="any" class="form-control input-sm"></td>
                </tr>
                <tr>
                  <td><strong>TOTAL ESTIMATED COST</strong></td>
                  <td><input data-bind="value: summary.totalEstimatedCost" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Computation for Arrastre and Wharfage Charges</h3>
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th>Container</th>
                  <th>Qty</th>
                  <th colspan="2">Arrastre</th>
                  <th colspan="2">Wharfage</th>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>Rate</td>
                  <td>Amount</td>
                  <td>Rate</td>
                  <td>Amount</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>20 Ftr</td>
                  <td><input data-bind="value: computation.twentyFooter.quantity" type="number" class="form-control input-sm"></td>
                  <td><input data-bind="value: computation.twentyFooter.arrastre.rate" type="number" step="any" class="form-control input-sm" disabled></td>
                  <td><input data-bind="value: computation.twentyFooter.arrastre.amount" type="number" step="any" class="form-control input-sm" disabled></td>
                  <td><input data-bind="value: computation.twentyFooter.wharfage.rate" type="number" step="any" class="form-control input-sm" disabled></td>
                  <td><input data-bind="value: computation.twentyFooter.wharfage.amount" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>40 Ftr</td>
                  <td><input data-bind="value: computation.fortyFooter.quantity" type="number" class="form-control input-sm"></td>
                  <td><input data-bind="value: computation.fortyFooter.arrastre.rate" type="number" step="any" class="form-control input-sm" disabled></td>
                  <td><input data-bind="value: computation.fortyFooter.arrastre.amount" type="number" step="any" class="form-control input-sm" disabled></td>
                  <td><input data-bind="value: computation.fortyFooter.wharfage.rate" type="number" step="any" class="form-control input-sm" disabled></td>
                  <td><input data-bind="value: computation.fortyFooter.wharfage.amount" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>                
              </tbody>
              <tfoot>
                <tr>
                  <td><strong>Total</strong></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><input data-bind="value: computation.total.arrastre" type="number" step="any" class="form-control input-sm" disabled></td>                  
                  <td>&nbsp;</td>
                  <td><input data-bind="value: computation.total.wharfage" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Computation for Storage Fees</h3>
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th>Container</th>
                  <th>Qty</th>
                  <th>Rate/Cont</th>
                  <th># of Days</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>20 Ftr</td>
                  <td><input data-bind="value: computation.twentyFooter.quantity" type="number" class="form-control input-sm"></td>
                  <td><input data-bind="value: computation.twentyFooter.storage.rate" type="number" step="any" class="form-control input-sm" disabled></td>
                  <td><input data-bind="value: computation.twentyFooter.storage.days" type="number" class="form-control input-sm"></td>
                  <td><input data-bind="value: computation.twentyFooter.storage.amount" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td>40 Ftr</td>
                  <td><input data-bind="value: computation.fortyFooter.quantity" type="number" class="form-control input-sm"></td>
                  <td><input data-bind="value: computation.fortyFooter.storage.rate" type="number" step="any" class="form-control input-sm" disabled></td>
                  <td><input data-bind="value: computation.fortyFooter.storage.days" type="number" class="form-control input-sm"></td>
                  <td><input data-bind="value: computation.fortyFooter.storage.amount" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>
                <tr>
                  <td><strong>Total</strong></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><input data-bind="value: computation.total.storage" type="number" step="any" class="form-control input-sm" disabled></td>
                </tr>                
              </tbody>
            </table>
          </div>
        </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button data-bind="click: printPreview" type="button" class="btn btn-primary">Print Preview</button>
      </div>
    </div>
  </div>
</div>