description = "Shipping Cost Calculator - Banner"
==
<div class="row quote-v1 margin-bottom-30">
  <div class="col-md-9">
    <span>Try our duties & taxes calculator.</span>
  </div>
  <div class="col-md-3 text-right">
    <a class="btn-transparent" href="{{ '/shipping-cost-calculator'|app }}"><i class="fa fa-list margin-right-10"></i>Calculator</a>
  </div>
</div>