/* here you can put your own css to customize and override the theme */
.site-logo {
  padding-top: 0px;
  padding-bottom: 0px;
}

.header-navigation ul > li > a {
	min-height: 134px;
}
.header-navigation ul > li > a {
	padding: 100px 12px 0px;
}

@media (max-width: 1205px) and (min-width: 1025px) {
	.header-navigation ul > li > a {
		min-height: 50px;
	}
	.header-navigation ul > li > a {
		padding: 100px 12px 0px;
	}
}

@media (max-width: 1024px) {
	.header-navigation ul > li > a {
		min-height: 50px;
	}
	.header-navigation ul > li > a {
		padding: 100px 12px 0px;
	}	
}