description = "End of page (Javascripts)"
==
<!-- Load javascripts at bottom, this will reduce page load time -->
<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<!--[if lt IE 9]>
<script src="assets/plugins/respond.min.js"></script>  
<![endif]-->  
<script src="{{ 'assets/global/plugins/jquery-migrate-1.2.1.min.js'|theme }}" type="text/javascript"></script>
<script src="{{ 'assets/global/plugins/bootstrap/js/bootstrap.min.js'|theme }}" type="text/javascript"></script>      
<script src="{{ 'assets/frontend/layout/scripts/back-to-top.js'|theme }}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script src="{{ 'assets/global/plugins/fancybox/source/jquery.fancybox.pack.js'|theme }}" type="text/javascript"></script>
<!-- END PAGE LEVEL JAVASCRIPTS -->

<!-- Page level plugin scripts START -->	
{% scripts %}
<!-- Page level plugin scripts END -->

<script src="{{ 'assets/frontend/layout/scripts/layout.js'|theme }}" type="text/javascript"></script>

{% framework extras %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        Layout.init();    
        //Layout.initOWL();
        Layout.initCustomOWL();
        RevosliderInit.initRevoSlider();
        //Layout.initTwitter();
        ContactUs.init();            
    });
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->