description = "Footer"
==
<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
	<div class="container">
	
		<div class="row">
			<!-- BEGIN BOTTOM ABOUT BLOCK -->
			<div class="col-md-4 col-sm-6 pre-footer-col">
				<h2>About us</h2>
				
				{% component 'footer_about_us' %}

			</div>
			<!-- END BOTTOM ABOUT BLOCK -->

			<!-- BEGIN BOTTOM CONTACTS -->
			<div class="col-md-4 col-sm-6 pre-footer-col">
				<h2>Our Contacts</h2>
				<address class="margin-bottom-40">
					Unit 2D-2E 2nd Floor Sail Centre Commercial Complex<br>
					J.L. Briones Street, North Reclamation Area,<br>
					Cebu City, Philippines<br>
					Phone: {% content 'common/top-bar-contact-number.txt' %} | (032) 231-6792 | (032) 316-2037<br>
					Fax: {% content 'common/fax-number.txt' %}<br>
					Email: <a href="mailto:{% content 'common/top-bar-email-address.txt' %}">{% content 'common/top-bar-email-address.txt' %}</a>
					<!-- Skype: <a href="skype:lracustoms">lracustoms</a> -->
				</address>
			</div>
			<!-- END BOTTOM CONTACTS -->

			<!-- BEGIN TWITTER BLOCK --> 
			<div class="col-md-4 col-sm-6 pre-footer-col" data-twttr-id="twttr-sandbox-0">
				<h2 class="margin-bottom-0">Latest Blog Posts</h2>				
			</div>
			<!-- END TWITTER BLOCK -->
		</div>

	</div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
	<div class="container">
		
		<!-- BEGIN COPYRIGHT -->
		<div class="col-md-6 col-sm-6 padding-top-10">
        	{{ current_year }} © {{ app_name }}. ALL Rights Reserved.
        </div>
        <!-- END COPYRIGHT -->

        <!-- BEGIN SOCIAL BUTTONS -->
        <!--
		<div class="col-md-6 col-sm-6">
            <ul class="social-footer list-unstyled list-inline pull-right">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>  
        </div>
    	-->
        <!-- END SOCIAL BUTTONS -->

	</div>
</div>
<!-- END FOOTER -->