description = "Head"
==
<head>
	<meta charset="utf-8">
	<title>{{ app_name }} - {{ this.page.title }}</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta content="{{ app_name }}" name="description">
	<meta content="Cebu customs brokerage, Philippines customs brokerage, LRA Customs Brokerage" name="keywords">
	<meta content="rjosephporter" name="author">

	<meta property="og:site_name" content="{{ app_name }}">
	<meta property="og:title" content="{{ app_name }}">
	<meta property="og:description" content="{{ app_name }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ 'assets/frontend/layout/img/logos/lracustoms_logo.png'|theme }}"><!-- link to image for socio -->
	<meta property="og:url" content="{{ '/'|app }}">

	<link rel="shortcut icon" href="favicon.ico">
	<link href="favicon.ico" rel="SHORTCUT ICON" type="image/ico">

	<!-- Fonts START -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
	<!-- Fonts END -->

	<!-- Global scripts START -->

	<!-- Global scripts END -->
	<script src="{{ 'assets/global/plugins/jquery-1.11.0.min.js'|theme }}" type="text/javascript"></script>
	<!-- Global styles START -->          
	



	<link href="{{ 'assets/global/plugins/font-awesome/css/font-awesome.min.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/global/plugins/bootstrap/css/bootstrap.css'|theme }}" rel="stylesheet">
	<!-- Global styles END --> 

	<!-- Page level plugin styles START -->
	<link href="{{ 'assets/global/plugins/fancybox/source/jquery.fancybox.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css'|theme }}" rel="stylesheet">
	{% styles %}
	<!-- Page level plugin styles END -->

	<!-- Theme styles START -->
	<link href="{{ 'assets/global/css/components.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/frontend/layout/css/style.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/frontend/pages/css/style-revolution-slider.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/frontend/layout/css/style-responsive.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/frontend/layout/css/themes/red.css'|theme }}" rel="stylesheet">
	<link href="{{ 'assets/frontend/layout/css/custom.css'|theme }}" rel="stylesheet">
	<!-- Theme styles END -->
</head>