description = "Top Bar"

==
<div class="pre-header">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <li><i class="fa fa-phone"></i><span>{% component 'contact_number' %}</span></li>
                    <li><i class="fa fa-envelope-o"></i><span>{% component 'email_address' %}</span></li>
                </ul>
            </div>
            <!-- END TOP BAR LEFT PART -->
            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    {% if user %}
                    <li><a href="{{ '/account'|app }}">Account</a></li>
                    <li><a data-request="onLogout" data-request-data="redirect: '/'" style="cursor:pointer">Logout</a></li>
                    {% else %}
                    <li><a href="{{ '/account'|app }}">Sign In / Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>        
</div>