title = "About"
url = "/about"
layout = "default"
description = "About"
hidden = "0"
meta_title = "LRA Customs Brokerage - About"
meta_description = "LRA Customs Brokerage - About"
==
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<h1>{{ this.page.title }}</h1>
		<div class="content-page">
			<div class="row margin-bottom-30">
				<div class="col-md-12">
					<h2>VISION</h2>
					<p>
						LRA Customs Brokerage envisions to become one of the best service provider in customs brokerage industry; contribute to Philippine Government economy through proper taxation; assists clients (importer/exporter) to grow their business; and improve the lives of the LRA employees.
					</p>

					<h2>MISSION</h2>
					<p>
						LRA Customs Brokerage aims to attain its vision by facilitating faster release of cargoes; establishing good relations with the Bureau of Customs and other government agencies; upholding the goals of the government; and protecting the best interest of the clients.
					</p>
				</div>
			</div>

			<div class="row margin-bottom-30">
				<div class="col-md-12">
					<table class="table table-bordered table-condensed">
						<colgroup width="50%"></colgroup>
						<colgroup width="50%"></colgroup>
						<thead>
							<tr>
								<td colspan="2" class="text-center"><h2>Company History/Profile</h2></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>Old Business Name</strong></td>
								<td>
									Abay-abay Customs Brokerage<br/>
									<small>June 1993 to June 2006</small>
								</td>
							</tr>
							<tr>
								<td><strong>Present Business Name</strong></td>
								<td>
									LRA Customs Brokerage<br/>
									<small>July 2006 to Present</small>
								</td>
							</tr>
							<tr>
								<td><strong>Number of Personnel</strong></td>
								<td>
									Ten (10)
								</td>
							</tr>
							<tr>
								<td colspan="2"><strong>GM Civic Organization</strong></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>2005 Most Outstanding Customs broker of the year, given by PRC</td>
							</tr>
							<tr>
								<td>Past President</td>
								<td>Rotary Club Consolacion</td>
							</tr>
							<tr>
								<td>Paul Harris Fellow</td>
								<td>Rotary International</td>
							</tr>						
							<tr>
								<td>Past President</td>
								<td>Federation of Customs Brokerage Companies of the Philippines (FCBC) Cebu Chapter</td>
							</tr>								
							<tr>
								<td>Past President</td>
								<td>Chamber of Customs Brokerage, Inc. (CCBI) Cebu Chapter</td>
							</tr>
							<tr>
								<td>Special Staff (Capt.)</td>
								<td>Philippine Coast Guard Auxiliary - 201st "A" Squadron</td>
							</tr>
							<tr>
								<td>Past President</td>
								<td>Cebu Harbor Toastmasters Club</td>
							</tr>
							<tr>
								<td>Past Board of Trustee</td>
								<td>Mandaue Chamber of Commerce & Industry</td>
							</tr>						
						</tbody>
					</table>
				</div>			
			</div>
			<div class="row margin-bottom-40">
				<!-- BEGIN DEALING WITH CLIENTS -->
				<div class="col-md-12 front-skills">
					<h2 class="block">Dealing with clients</h2>
					<ul class="list-unstyled margin-bottom-20">
						<li><i class="fa fa-check"></i> We respond to our clients as soon as possible</li>						
						<li><i class="fa fa-check"></i> We keep our clients updated</li>
						<li><i class="fa fa-check"></i> We go the extra mile</li>
						<li><i class="fa fa-check"></i> We fix mistakes as soon as possible</li>
						<li><i class="fa fa-check"></i> We listen to our clients</li>
						<li><i class="fa fa-check"></i> We keep our promises</li>
						<li><i class="fa fa-check"></i> We keep our composure all the time</li>
					</ul>
				</div>
				<!-- END DEALING WITH CLIENTS -->
			</div>

			<div class="row front-team">
				<ul class="list-unstyled">
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Leonardo R. Abay-abay</strong> 
								<small>General Manager/Licensed Broker</small>
							</h3>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Renato Doldolea</strong> 
								<small>Brokerage Manager</small>
							</h3>
							<p>Responsibilities: 
								Documentation, 
								Computation, 
								Operations, 
								Processing, 
								Releasing
							</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Norwena Alferez</strong> 
								<small>Documentation Personnel</small>
							</h3>
							<p>Responsibilities: 
								Lodgement, 
								Computation, 
								Entry Preparation, 
								AMO/CPRS Registration
							</p>
						</div>
					</li>
				</ul>            
			</div>

			<div class="row front-team">
				<ul class="list-unstyled">
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Romulo Abay-abay</strong> 
								<small>Operations Personnel</small>
							</h3>
							<p>Responsibilities: 
								Airport Processing/Releasing, 
								LCL Releasing, 
								Airfreight/LCL Delivery, 
								Commodity Clearances, 
								Bank Transactions, 
								Export Processing
							</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Teodoro Analucas III</strong> 
								<small>Supervisor - Processing Personnel</small>
							</h3>
							<p>Responsibilities: 
								BOC Cebu Processing, 
								Releasing Coordinator, 
								Trouble Shooting
							</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Antonio Abay-abay</strong> 
								<small>Releasing Personnel</small>
							</h3>
							<p>Responsibilities: 
								CIP Releasing, 
								Truck Coordinator, 
								Delivery Coordinator
							</p>
						</div>
					</li>					
				</ul>
			</div>

			<div class="row front-team">
				<ul class="list-unstyled">
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Elisa Lazarte</strong> 
								<small>Admin/Accounting Personnel</small>
							</h3>
							<p>Responsibilities: 
								Billing, 
								Collection/Payables, 
								Disbursements, 
								Government Permits, 
								Filing
							</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Virgilio Abay-abay </strong> 
								<small>Routinary Work</small>
							</h3>
							<p>Responsibilities: 
								Endorsement of Entry, 
								Pick-up/Delivery of documents, 
								Collection/Pay Bills, 
								Other Jobs delegated by Superior
							</p>							
						</div>
					</li>	
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="" src="{{ 'assets/frontend/pages/img/people/blank-profile.png'|theme }}">
							<h3>
								<strong>Rex Jesser Abay-abay </strong> 
								<small>Routinary Work</small>
							</h3>
							<p>Responsibilities:
								Endorsement of Entry, 
								Pick-up/Delivery of Documents, 
								Collection/Pay Bills, 
								LCL Delivery, 
								CIP Examination, 
								Other Jobs delegated by Superior								
							</p>
						</div>
					</li>					
				</ul>
			</div>			

		</div>	
	</div>

</div>