title = "Account"
url = "/account/:code?"
layout = "default"
description = "Account"
hidden = "0"
meta_title = "LRA Customs Brokerage - Account"
meta_description = "LRA Customs Brokerage - Account"

[account]
redirect = "home"
paramCode = "code"

[session]
security = "all"
==
<div class="row margin-bottom-40">
	<div class="content-page">
		<div class="col-md-12 col-sm-12">
			<!-- <h1>{{ this.page.title }}</h1> -->
			<div class="content-form-page">
				{% component 'account' %}
				<!--
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<form class="form-horizontal form-without-legend" role="form">
							<div class="form-group">
								<label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
								<div class="col-lg-8">
									<input type="text" class="form-control" id="email">
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="col-lg-4 control-label">Password <span class="require">*</span></label>
								<div class="col-lg-8">
									<input type="text" class="form-control" id="password">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8 col-md-offset-4 padding-left-0">
									<a href="{{ '/forgot-password'|app }}">Forget Password?</a>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
									<button type="submit" class="btn btn-primary">Login</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
</div>