title = "Blog Item"
url = "/blog/post/:slug"
layout = "default"
description = "Blog Item"
hidden = "0"
meta_title = "LRA Customs Brokerage - Blog Item"
meta_description = "LRA Customs Brokerage - Blog Item"

[blogPost post]
idParam = ":slug"
categoryPage = "blog-category-filter"

[blogCategories]
idParam = ":slug"
displayEmpty = "0"
categoryPage = "blog-category-filter"
==
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		{% if not post %}
			<h1>Post not found.</h1>
		{% else %}
			<h1>{{ post.title }}</h1>
		{% endif %}		
		<div class="content-page">
			<div class="row">
				<!-- BEGIN LEFT SIDEBAR -->            
				<div class="col-md-9 col-sm-9 blog-item">
					{% if post %}
						{% if post.featured_images.0 %}
							<div class="blog-item-img">
								<img class="img-responsive" alt="{{ post.featured_images.0.title }}" src="{{ post.featured_images.0.path }}">            
							</div>
						{% endif %}
						<!-- <h2><a href="#">{{ post.title }}</a></h2> -->
						<div class="post-content">
							{{ post.content_html|raw }}
						</div>
						<ul class="blog-info">
							<!-- <li><i class="fa fa-user"></i> By admin</li> -->
							<li><i class="fa fa-calendar"></i> {{ post.published_at|date('M d, Y') }}</li>
							<!-- <li><i class="fa fa-comments"></i> 17</li> -->
							<li><i class="fa fa-tags"></i> 
				                {% for category in post.categories %}
				                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
				                {% endfor %}										
							</li>							
						</ul>						
					{% endif %}
				</div>
				<!-- END LEFT SIDEBAR -->

				<!-- START RIGHT SIDEBAR -->
				<div class="col-md-3 col-sm-3 blog-sidebar">
					<!-- CATEGORIES START -->
					<h2 class="no-top-space">Categories</h2>

					<ul class="nav sidebar-categories margin-bottom-40">
						{% for category in categories %}
						{% set postCount = category.post_count %}
						<li {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
							<a href="{{ category.url }}">{{ category.name }} {% if postCount %}({{ postCount }}){% endif %}</a> 
						</li>
						{% endfor %}
					</ul>
					<!-- CATEGORIES END -->                          
				</div>
				<!-- END RIGHT SIDEBAR -->          
			</div>
		</div>
	</div>
</div>