title = "Latest Posts"
url = "/blog/:page?"
layout = "default"
description = "Latest Posts"
hidden = "0"
meta_title = "LRA Customs Brokerage - Latest Posts"
meta_description = "LRA Customs Brokerage - Latest Posts"

[blogPosts]
pageParam = ":page"
categoryFilter = ":slug"
postsPerPage = "10"
noPostsMessage = "No posts found"
postOrderAttr = "published_at desc"
categoryPage = "blog-category-filter"
postPage = "blog-item"

[blogCategories]
idParam = ":slug"
displayEmpty = "0"
categoryPage = "blog-category-filter"
==
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<h1>{{ this.page.title }}</h1>
		<div class="content-page">
			<div class="row">
				<!-- START BLOG POSTS -->
				<div class="col-md-9 col-sm-9 blog-posts">
					{% for post in posts %}
						<div class="row">
							{% if post.featured_images.0 %}
							<div class="col-md-4 col-sm-4">
		            			<img class="img-responsive" alt="{{ post.featured_images.0.title }}" src="{{ post.featured_images.0.path }}">
							</div>
							<div class="col-md-8 col-sm-8">
							{% else %}
							<div class="col-md-12 col-sm-12">
							{% endif %}							
								<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
								<ul class="blog-info">
									<li><i class="fa fa-calendar"></i> {{ post.published_at|date('M d, Y') }}</li>
									<li><i class="fa fa-tags"></i> 
						                {% for category in post.categories %}
						                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
						                {% endfor %}										
									</li>
									
								</ul>
								{% if post.excerpt %}
									<p>{{ post.excerpt }}</p>
								{% else %}
									<p>{{ post.content_html|raw }}</p>
								{% endif %}
								<a href="{{ post.url }}" class="more">Read more <i class="icon-angle-right"></i></a>
							</div>
						</div>
						<hr class="blog-post-sep">
					 {% else %}
					 	<h1>{{ noPostsMessage }}</h1>
					 {% endfor %}

					 {% if posts.getLastPage > 1 %}
					 <ul class="pagination">
					 	{% if posts.getCurrentPage > 1 %}
					 	<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.getCurrentPage-1) }) }}">← Prev</a></li>
					 	{% endif %}

					 	{% for page in 1..posts.getLastPage %}
					 	<li class="{{ posts.getCurrentPage == page ? 'active' : null }}">
					 		<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
					 	</li>
					 	{% endfor %}

					 	{% if posts.getLastPage > posts.getCurrentPage %}
					 	<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.getCurrentPage+1) }) }}">Next →</a></li>
					 	{% endif %}
					 </ul>
					 {% endif %}
				</div>
				<!-- END BLOG POSTS -->

				<!-- START RIGHT SIDEBAR -->
				<div class="col-md-3 col-sm-3 blog-sidebar">
					<!-- CATEGORIES START -->
					<h2 class="no-top-space">Categories</h2>

					<ul class="nav sidebar-categories margin-bottom-40">
						{% for category in categories %}
						{% set postCount = category.post_count %}
						<li {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
							<a href="{{ category.url }}">{{ category.name }} {% if postCount %}({{ postCount }}){% endif %}</a> 
						</li>
						{% endfor %}
					</ul>
					<!-- CATEGORIES END -->                          
				</div>
				<!-- END RIGHT SIDEBAR -->
			</div>
		</div>		
	</div>
</div>