title = "Contact"
url = "/contact"
layout = "default"
description = "Contact Page"
hidden = "0"
meta_title = "LRA Customs Brokerage - Contact"
meta_description = "LRA Customs Brokerage - Contact"

[contactForm]
==
<?php
function onStart()
{    
    $this->addJs('http://maps.google.com/maps/api/js?sensor=true');
    $this->addJs('assets/global/plugins/gmaps/gmaps.js');
    $this->addJs('assets/frontend/pages/scripts/contact-us.js');
}
?>
==
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<h1>{{ this.page.title }}</h1>
		<div class="content-page">
			<div class="row">
				<div class="col-md-12">
					<div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
				</div>

				<div class="col-md-9 col-sm-9">
					<h2>Contact Form</h2>
					<p>For any inquiries and suggestions feel free to contact us using any of the contact details show in the right side of this page. You can also send in your questions using the form below.</p>

					<!-- BEGIN FORM-->
					<!--
					<form action="#" role="form">
						<div class="form-group">
							<label for="contacts-name">Name</label>
							<input type="text" class="form-control" id="contacts-name">
						</div>
						<div class="form-group">
							<label for="contacts-email">Email</label>
							<input type="email" class="form-control" id="contacts-email">
						</div>
						<div class="form-group">
							<label for="contacts-message">Message</label>
							<textarea class="form-control" rows="5" id="contacts-message"></textarea>
						</div>
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Send</button>
						<button type="button" class="btn btn-default">Cancel</button>
					</form>
					-->
					
					{% component 'contactForm' %}

					<!-- END FORM-->
				</div>

				<div class="col-md-3 col-sm-3 sidebar2">
					<h2>Our Contacts</h2>
					<address>
						Unit 2D-2E 2nd Floor Sail Centre Commercial Complex<br>
						J.L. Briones Street, North Reclamation Area,<br>
						Cebu City, Philippines<br>
						Phone: +6332 232-3601 | (032) 231-6792 | (032) 316-2037<br>
						Fax: +6332 233-0893
					</address>
					<address>
						<strong>Email</strong><br>
						<a href="mailto:{% content 'common/top-bar-email-address.txt' %}">{% content 'common/top-bar-email-address.txt' %}</a><br>
					</address>
					<!--
					<ul class="social-icons margin-bottom-40">
						<li><a href="#" data-original-title="facebook" class="facebook"></a></li>
						<li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
						<li><a href="#" data-original-title="linkedin" class="linkedin"></a></li>
						<li><a href="#" data-original-title="twitter" class="twitter"></a></li>
						<li><a href="#" data-original-title="skype" class="skype"></a></li>
					</ul>  
					-->  
				</div>				

			</div>
		</div>
	</div>
</div>