title = "Customs Administrative Orders"
url = "/customs-administrative-orders"
layout = "default"
description = "Customs Administrative Orders"
hidden = "0"
meta_title = "LRA Customs Brokerage - Customs Administrative Orders"
meta_description = "LRA Customs Brokerage - Customs Administrative Orders"
==
<?php
function onStart()
{    
	$this->addCss('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css');

    $this->addJs('assets/global/plugins/datatables/media/js/jquery.dataTables.min.js');
    $this->addJs('assets/global/plugins/datatables/media/js/dataTables.bootstrap.js');

    $this->addJs('assets/global/scripts/custom/customs-orders.js');    
}
?>
==
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<h1>{{ this.page.title }}</h1>
		<div class="content-page">
			<div class="row">
				<div class="col-md-12">
					<!-- TABLE -->
					<table class="table table-bordered table-condensed table-striped">
					<col width="10%">
					<col width="15%">
					<col width="15%">
					<col width="60%">					
					<thead>
						<tr class="row-1 odd">
							<th class="column-1"></th>
							<th class="column-2"><b>YEAR</b></th>
							<th class="column-3"><b>CAO NUMBER</b></th>
							<th class="column-4"><b>SUBJECT</b></th>
						</tr>
					</thead>
					<tbody class="row-hover">
						<tr class="row-2 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2000.pdf">Download</a></td><td class="column-2">2000</td><td class="column-3">CAO 01-2000</td><td class="column-4"> Annual Registration Fee of Importers<br>
					</td>
						</tr>
						<tr class="row-3 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2000.pdf">Download</a></td><td class="column-2">2000</td><td class="column-3">CAO 02-2000</td><td class="column-4">Establishing the Super Green Lane Import Processing facility (SGL)<br>
					</td>
						</tr>
						<tr class="row-4 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2000.pdf">Download</a></td><td class="column-2">2000</td><td class="column-3">CAO 03-2000</td><td class="column-4">Amendment to CAO 1-95 Providing New Rates of Service, Storage and other Charges stored at CBW No. 31 55 83 124 125 128 158 Philippine Skylanders Inc PAL Paircargo Delbroshaus</td>
						</tr>
						<tr class="row-5 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2001.pdf">Download</a></td><td class="column-2">2001</td><td class="column-3">CAO 01-2001</td><td class="column-4"> Rates of Customs Brokerage Fees<br>
					</td>
						</tr>
						<tr class="row-6 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2001.pdf">Download</a></td><td class="column-2">2001</td><td class="column-3">CAO 02-2001</td><td class="column-4">Rates of Customs Fees and Charges<br>
					</td>
						</tr>
						<tr class="row-7 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2001.pdf">Download</a></td><td class="column-2">2001</td><td class="column-3">CAO 03-2001</td><td class="column-4">Rules and Regulations for Customs Operations in the Poro Point Special Economic and Freeport Zone</td>
						</tr>
						<tr class="row-8 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2001.pdf">Download</a></td><td class="column-2">2001</td><td class="column-3">CAO 04-2001</td><td class="column-4">Amendment to CAO 2-2001<br>
					</td>
						</tr>
						<tr class="row-9 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-5-2001.pdf">Download</a></td><td class="column-2">2001</td><td class="column-3">CAO 05-2001</td><td class="column-4">Implementing RA 9135 Act Amending Certain Provisions of Presidential Decree No. 1464 Tariff and Customs Code of the Philippines (TCCP)<br>
					</td>
						</tr>
						<tr class="row-10 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2002.pdf">Download</a></td><td class="column-2">2002</td><td class="column-3">CAO 01-2002</td><td class="column-4">Providing Use of X-Ray Machine as an Alternative to Actual Physical Examination Speed up Examination of Shipments and Movement of Cargoes in BOC</td>
						</tr>
						<tr class="row-11 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2002.pdf">Download</a></td><td class="column-2">2002</td><td class="column-3">CAO 02-2002</td><td class="column-4">Creation of a New Collection District No. XIV (Port of Clark International Airport) and redefining area of jurisdiction of Collection District No. II-A (POM)</td>
						</tr>
						<tr class="row-12 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2002.pdf">Download</a></td><td class="column-2">2002</td><td class="column-3">CAO 03-2002</td><td class="column-4"> Treatment of Price Tags and Labels</td>
						</tr>
						<tr class="row-13 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2002.pdf">Download</a></td><td class="column-2">2002</td><td class="column-3">CAO 04-2002</td><td class="column-4"> Amendment to CAO 3-97 providing new rates of service storage articles stored at CBW No. 36 U-Freight Phils Inc (Mactan-Cebu International Airport)</td>
						</tr>
						<tr class="row-14 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-5-2002.pdf">Download</a></td><td class="column-2">2002</td><td class="column-3">CAO 05-2002</td><td class="column-4">Rules and Regulations in the Importation of Articles through the Customs Bonded Trading Warehouse</td>
						</tr>
						<tr class="row-15 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-6-2002.pdf">Download</a></td><td class="column-2">2002</td><td class="column-3">CAO 06-2002</td><td class="column-4"> Rules and Regulations Implementing RA 8293 Intellectual Property Code of the Philippines (IP Code) Section 51-60 Trade Related Aspects IPRA (TRIPS)</td>
						</tr>
						<tr class="row-16 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-7-2002.pdf">Download</a></td><td class="column-2">2002</td><td class="column-3">CAO 07-2002</td><td class="column-4">Establishment of Industry-Specific CBWs and The Rules and Regulations Governing its Operations</td>
						</tr>
						<tr class="row-17 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 01-2003</td><td class="column-4"> BOI's Industrial Policy on MVDP Importations</td>
						</tr>
						<tr class="row-18 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 02-2003 </td><td class="column-4"> R&amp;R RAtionalizing the Use and Operation of Public CBWs Supplementing Modifying CAO 2-91 and Other Related Issuances</td>
						</tr>
						<tr class="row-19 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 03-2003 </td><td class="column-4"> Establishment, Operations and COntrol of Specal Customs Bonded Conversion Facility</td>
						</tr>
						<tr class="row-20 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 04-2003 </td><td class="column-4"> Disposition of Seized and Forfeited Right-Hand Drive Vehicles</td>
						</tr>
						<tr class="row-21 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-5-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 05-2003 </td><td class="column-4"> Summary Seizure Proceedings for Tax Deficient Imported Motor Vehicles Offered for Voluntary Payment</td>
						</tr>
						<tr class="row-22 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-6-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 06-2003 </td><td class="column-4"> Amendments to CAO 02-2000 (Establishing the Super Green Lane Import Processing Facility)</td>
						</tr>
						<tr class="row-23 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-7-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 07-2003 </td><td class="column-4"> Established of Industry-Specific Customs Bonded Warehouse (ICBW) Servicing the Semiconductor and Electronics Industry and the R&amp;R Governing its Operations</td>
						</tr>
						<tr class="row-24 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-8-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 08-2003 </td><td class="column-4"> Selection Criteria for Post Entry Audit</td>
						</tr>
						<tr class="row-25 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-9-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 09-2003 </td><td class="column-4"> R&amp;R Governing Customs Operations in Cagayan Special Economic ZOne and Freeport</td>
						</tr>
						<tr class="row-26 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-10-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 10-2003 </td><td class="column-4"> Guidelines for Treatment of Samples for Counter-Sampling and Raw Materials for Making Sample Products</td>
						</tr>
						<tr class="row-27 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-11-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 11-2003 </td><td class="column-4"> Extending the Effectivity of CAO 5-2003 Summary Seizure Proceedings for Tax Deficient Imported Motor Vehicles offered for Voluntary Payment</td>
						</tr>
						<tr class="row-28 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-12-2003.pdf">Download</a></td><td class="column-2">2003</td><td class="column-3">CAO 12-2003 </td><td class="column-4"> Performance of Obligation under Warehousing Bond and Liquidation of the Warehousing Entry</td>
						</tr>
						<tr class="row-29 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2004.pdf">Download</a></td><td class="column-2">2004</td><td class="column-3">CAO 01-2004 </td><td class="column-4">Revocation of CAO 3-78 Provides for The Treatment of Importations of Materials on Consignment to be Processed into Finished Products for Export</td>
						</tr>
						<tr class="row-30 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2004.pdf">Download</a></td><td class="column-2">2004</td><td class="column-3">CAO 02-2004 </td><td class="column-4"> Revision in the Rates of Overtime Pay Including those of Meal, Transportation, Board and Lodging Allowances, Supervision Charges at all Seaports of Entry amending CAO 3-91</td>
						</tr>
						<tr class="row-31 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2004.pdf">Download</a></td><td class="column-2">2004</td><td class="column-3">CAO 03-2004 </td><td class="column-4"> Amendment to CAO 3-2000 New Rates of Service Storage and Charges Philippine Skylanders Inc, PAL Paircargo Delbros Cargohaus</td>
						</tr>
						<tr class="row-32 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2004.pdf">Download</a></td><td class="column-2">2004</td><td class="column-3">CAO 04-2004 </td><td class="column-4"> Amendment to CAO 5-2001 Implementing RA 9135 Presidential Decree 1464 Tariff and Customs Code of the Philippines as Amended</td>
						</tr>
						<tr class="row-33 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2005.pdf">Download</a></td><td class="column-2">2005</td><td class="column-3">CAO 01-2005 </td><td class="column-4">Amendments to CAO 7-92 (R&amp;R Governing the Overtime Pay &amp; other Compensations related thereto due to Customs Personnel at NAIA</td>
						</tr>
						<tr class="row-34 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2005.pdf">Download</a></td><td class="column-2">2005</td><td class="column-3">CAO 02-2005 </td><td class="column-4">R&amp;R Governing Use of LGC Logistics Inc an Inland Clearance Depot (ICD) Servicing Semi-Conductors and Electronics Industry Registered at PEZA-Calabarzon</td>
						</tr>
						<tr class="row-35 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2006.pdf">Download</a></td><td class="column-2">2006</td><td class="column-3">CAO 01-2006 </td><td class="column-4">R&amp;R for Customs Operation in the Subic Bay Metropolitan AUthority (SBMA) - Bataan</td>
						</tr>
						<tr class="row-36 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2006.pdf">Download</a></td><td class="column-2">2006</td><td class="column-3">CAO 02-2006 </td><td class="column-4">Cargo Pre-Clearance Release System for the AIr Express Cargo Industry</td>
						</tr>
						<tr class="row-37 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2006.pdf">Download</a></td><td class="column-2">2006</td><td class="column-3">CAO 03-2006 </td><td class="column-4">R&amp;R Governing the Accreditation of Customs Brokers Transacting with the BOC </td>
						</tr>
						<tr class="row-38 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2006.pdf">Download</a></td><td class="column-2">2006</td><td class="column-3">CAO 04-2006 </td><td class="column-4">Amendment to Chapter V PAR. C. 1(a) of CAO No. 6-94</td>
						</tr>
						<tr class="row-39 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-5-2006.pdf">Download</a></td><td class="column-2">2006</td><td class="column-3">CAO 05-2006 </td><td class="column-4">Special Revalidation of All Outstanding Tax Credit Certificates (TCCs) issued by the BOC prior to 1Aug2006</td>
						</tr>
						<tr class="row-40 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-6-2006.pdf">Download</a></td><td class="column-2">2006</td><td class="column-3">CAO 06-2006 </td><td class="column-4">Revised Rates of Overtime Pay in All Seaports and Airports of Entry under the East Asia Growth Areas (EAGA) for Vessels and Aircrafts</td>
						</tr>
						<tr class="row-41 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-7-2006.pdf">Download</a></td><td class="column-2">2006</td><td class="column-3">CAO 07-2006 </td><td class="column-4">Revised Baggage Declaration Form (BC Form No. 117) hereinafter denominated as the New Customs Declaration FOrm</td>
						</tr>
						<tr class="row-42 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 01-2007 </td><td class="column-4">Penalties related to Inward Foreign Manifest (IFM) and Consolidated Cargo Manifest</td>
						</tr>
						<tr class="row-43 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 02-2007 </td><td class="column-4"> Accreditation Establishment and Operation of e-Customs Value Added Service Providers (VASPs)</td>
						</tr>
						<tr class="row-44 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 03-2007 </td><td class="column-4">Amendments to CAO No. 4-96 (creation of a Common Bonded Warehouse Division POM dated 3Jul1996)</td>
						</tr>
						<tr class="row-45 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 04-2007 </td><td class="column-4">Guidelines for Collection of the Container Security Fee Under Executive Order No. 592 s. 2006</td>
						</tr>
						<tr class="row-46 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-5-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 05-2007 </td><td class="column-4">Voluntary Disclosure Program (VDP)</td>
						</tr>
						<tr class="row-47 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-6-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 06-2007 </td><td class="column-4"> Amendments to CAO 1-2007 (R&amp;R Penalties related to Inward Foreign Manifests (IFM)</td>
						</tr>
						<tr class="row-48 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-7-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 07-2007 </td><td class="column-4"> Amendment to CAO 3-2004 Providing New Rates of Services Storage and Other Charges on Articles</td>
						</tr>
						<tr class="row-49 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-8-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 08-2007 </td><td class="column-4">Description of Imported Articles in Tariff Terms</td>
						</tr>
						<tr class="row-50 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-9-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 09-2007 </td><td class="column-4">EO 375 MOdifying the Rates of Import Duty on Certain iron and Steel Products </td>
						</tr>
						<tr class="row-51 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-10-2007.pdf">Download</a></td><td class="column-2">2007</td><td class="column-3">CAO 10-2007 </td><td class="column-4"> R&amp;R in Conduct of Public Auction and Negotiated Sale</td>
						</tr>
						<tr class="row-52 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 01-2008 </td><td class="column-4">Transfer of Jurisdiction over Customs Subports to Enhance Administrative and operational Control (Eva Macapagal terminal Pier 15 District II-B (MICP) to District II-A (POM)</td>
						</tr>
						<tr class="row-53 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 02-2008 </td><td class="column-4">Creation of a New Collection District No. XV (Port of Aparri) and redefining the area of Jurisdiction of Collection District No. I (Port of San Fernando La Union)</td>
						</tr>
						<tr class="row-54 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 03-2008 </td><td class="column-4">Amendments to CAO 3-2006</td>
						</tr>
						<tr class="row-55 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 04-2008 </td><td class="column-4">Non-Importation of Resin Through the Bonded Warehouse System</td>
						</tr>
						<tr class="row-56 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2008A.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 04-2008 A</td><td class="column-4">Creating Parameters for the Rationalized Application of CAO no. 4-2008 on the Non-Importation of Resin through the Customs Bonded Warehouse Scheme</td>
						</tr>
						<tr class="row-57 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-5-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 05-2008 </td><td class="column-4">Creation of a New Collection District XVI (Port of Limay) and Redefining the Jurisdictional Limits of Collection District No. II-A (POM)</td>
						</tr>
						<tr class="row-58 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-6-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 06-2008 </td><td class="column-4">Bulk and Break Bulk Cargo Clearance Enhancement Program (BBBCCEP)</td>
						</tr>
						<tr class="row-59 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-7-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 07-2008 </td><td class="column-4">Accreditation of Information Validation Service Provider (IVSP) for Integration into BOC's Client Profile Registation System (CPRS)</td>
						</tr>
						<tr class="row-60 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-8-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 08-2008 </td><td class="column-4">Requiring Electronic Lodgement Of Goods Declarations and Imposing Administrative Sanctions for Non-Compliance with the Requirement</td>
						</tr>
						<tr class="row-61 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-9-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 09-2008 </td><td class="column-4">Creation of a Permanent Intellectual Property Rights Division (IPRD) BOC</td>
						</tr>
						<tr class="row-62 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-10-2008.pdf">Download</a></td><td class="column-2">2008</td><td class="column-3">CAO 10-2008 </td><td class="column-4">Payment Application Secure System Version 5.0 (PASS5)</td>
						</tr>
						<tr class="row-63 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-1-2009.pdf">Download</a></td><td class="column-2">2009</td><td class="column-3">CAO 01-2009 </td><td class="column-4">Revised R&amp;R for Establishment Operation Supervision and COntrol of Customs Bonded Warehouses CBWs</td>
						</tr>
						<tr class="row-64 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-2-2009.pdf">Download</a></td><td class="column-2">2009</td><td class="column-3">CAO 02-2009 </td><td class="column-4">R&amp;R Governing Overtime Services and Payment of Corresponding Offshore Duty Pay and Overtime Services Oil Drilling and Exploration Service Contract No. 56 South Sulu Sea</td>
						</tr>
						<tr class="row-65 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-3-2009.pdf">Download</a></td><td class="column-2">2009</td><td class="column-3">CAO 03-2009 </td><td class="column-4">Amendments to CAO 1-2007 Penalties Related to Inward Cargo Manifest and Consolidated Cargo Manifest</td>
						</tr>
						<tr class="row-66 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-4-2009.pdf">Download</a></td><td class="column-2">2009</td><td class="column-3">CAO 04-2009 </td><td class="column-4">Temporary Suspension of Opearations Provisions of CAO 2-97 150-Day Allowable Dwell-Time of Foreign Containers in the Philippines</td>
						</tr>
						<tr class="row-67 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-5-2009.pdf">Download</a></td><td class="column-2">2009</td><td class="column-3">CAO 05-2009 </td><td class="column-4">Granting Temporary Relief to Distressed Exporters Unable to Timely Liquidated Imported Raw Materials</td>
						</tr>
						<tr class="row-68 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/02/CAO-6-2009.pdf">Download</a></td><td class="column-2">2009</td><td class="column-3">CAO 06-2009 </td><td class="column-4">Transforming the Risk Management Group BOC into the RMO EO 836</td>
						</tr>
						<tr class="row-69 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-1-2010.pdf">Download</a></td><td class="column-2">2010</td><td class="column-3">CAO 01-2010 </td><td class="column-4">Extension of the Temporary Suspension of the Operational Provisions of CAO No. 2-97 Governing the 150-Day Allowable Dwell-Time of Foreign Containers in the Philippines</td>
						</tr>
						<tr class="row-70 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-2-2010.pdf">Download</a></td><td class="column-2">2010</td><td class="column-3">CAO 02-2010 </td><td class="column-4">Amendment to Section 15 of CAO 10-2007 R&amp;R in the Conduct of Public Auction and Negotiated Sale</td>
						</tr>
						<tr class="row-71 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-3-2010.pdf">Download</a></td><td class="column-2">2010</td><td class="column-3">CAO 03-2010 </td><td class="column-4">Supplement AO No. 243-A Rules to Implement the BBBCCEP</td>
						</tr>
						<tr class="row-72 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-4-2010.pdf">Download</a></td><td class="column-2">2010</td><td class="column-3">CAO 04-2010 </td><td class="column-4">Establishing an Enhanced Customs Transit System with Use of Global Positioning System (GPS)</td>
						</tr>
						<tr class="row-73 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-5-2010.pdf">Download</a></td><td class="column-2">2010</td><td class="column-3">CAO 05-2010 </td><td class="column-4">Enhancing BOC Integrity Action Plan (IAP) Providing System of Rewards and Penalties in the Implementation-Accomplishment of IAP Projects</td>
						</tr>
						<tr class="row-74 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-6-2010.pdf">Download</a></td><td class="column-2">2010</td><td class="column-3">CAO 06-2010 </td><td class="column-4">R&amp;R Governing the Rendition of Overtime Services and Payment of Corresponding Overtime Service Pay (service Contract No. 59 located off the Southwest Tip of Palawan)</td>
						</tr>
						<tr class="row-75 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-7-2010.pdf">Download</a></td><td class="column-2">2010</td><td class="column-3">CAO 07-2010 </td><td class="column-4">R&amp;R Governing Customs Operations in the Freeport Area of Bataan</td>
						</tr>
						<tr class="row-76 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-1-2011.pdf">Download</a></td><td class="column-2">2011</td><td class="column-3">CAO 01-2011</td><td class="column-4">Amendment to CAO 2-2010 Section 15 of CAO 10-2007 R&amp;R in the COnduct of Public Auction and Negotiated Sale</td>
						</tr>
						<tr class="row-77 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-2-2011.pdf">Download</a></td><td class="column-2">2011</td><td class="column-3">CAO 02-2011 </td><td class="column-4">Creation of the Warehouse Monitoring and Audit Unit (WMAU) under OCOM </td>
						</tr>
						<tr class="row-78 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-3-2011.pdf">Download</a></td><td class="column-2">2011</td><td class="column-3">CAO 03-2011 </td><td class="column-4">Dissolution of FTI-Customs Office at the FTI Complex Taguig</td>
						</tr>
						<tr class="row-79 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-4-2011.pdf">Download</a></td><td class="column-2">2011</td><td class="column-3">CAO 04-2011 </td><td class="column-4">Establishing the Super Green Lane Plus Import Processing Facility</td>
						</tr>
						<tr class="row-80 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-5-2011.pdf">Download</a></td><td class="column-2">2011</td><td class="column-3">CAO 05-2011 </td><td class="column-4">Depreciation Schedule for Imported Motor Vehicles</td>
						</tr>
						<tr class="row-81 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-6-2011.pdf">Download</a></td><td class="column-2">2011</td><td class="column-3">CAO 06-2011</td><td class="column-4">Supplemental Rules to Implement the BBBCCEP</td>
						</tr>
						<tr class="row-82 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-7-2011.pdf">Download</a></td><td class="column-2">2011</td><td class="column-3">CAO 07-2011 </td><td class="column-4">Prescribing the Official Work Hours for Certain Divisions at NAIA and other International Airports of Entry</td>
						</tr>
						<tr class="row-83 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-1-2012.pdf">Download</a></td><td class="column-2">2012</td><td class="column-3">CAO 01-2012 </td><td class="column-4">Establishing an Authorized Economic Operator (AEO) Program for Exporters</td>
						</tr>
						<tr class="row-84 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-1-2013.pdf">Download</a></td><td class="column-2">2012</td><td class="column-3">CAO 01-2013 </td><td class="column-4">Amendment to CAO 7-2007 New Rates of Services Storage and Other Charges </td>
						</tr>
						<tr class="row-85 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-2-2013.pdf">Download</a></td><td class="column-2">2012</td><td class="column-3">CAO 02-2013 </td><td class="column-4">Amendment to CAO 1-2007 on Penalties related to Inward Foreign Manifest and Consolidated Manifest</td>
						</tr>
						<tr class="row-86 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-3-2013.pdf">Download</a></td><td class="column-2">2013</td><td class="column-3">CAO 03-2013 </td><td class="column-4">Simplified Procedure for the Submission of Baggage Declaration Form (BC Form No. 117</td>
						</tr>
						<tr class="row-87 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-4-2013.pdf">Download</a></td><td class="column-2">2013</td><td class="column-3">CAO 04-2013 </td><td class="column-4">R&amp;R Procedures on 24x7 Customs Services and Payment of Corresponding Overtime and Night Differential Fees</td>
						</tr>
						<tr class="row-88 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-5-2013.pdf">Download</a></td><td class="column-2">2013</td><td class="column-3">CAO 05-2013 </td><td class="column-4">Authority to Assign Employees to International Airports During Holiday Season</td>
						</tr>
						<tr class="row-89 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/01/CAO_06_2013.pdf">Download</a></td><td class="column-2">2013</td><td class="column-3">CAO 06-2013</td><td class="column-4">Implementation of the memorandum of understanding among the governments of the participating member states of the association of southeast Asian nations on the second pilot projects for the implementation of regional self-certification system</td>
						</tr>
						<tr class="row-90 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/04/CAO-01-2014.pdf">Download</a></td><td class="column-2">2014</td><td class="column-3">CAO 01-2014</td><td class="column-4">Guidlines on the Imposition of Surcharge under Section 2503 under of the Tariff and Customs Code, as amended<br>
					<br>
					Repeals and Replaces:<br>
					<a href="http://customs.gov.ph/wp-content/uploads/2014/04/CAO-10-1993.pdf">CAO 10-93</a><br>
					<a href="http://customs.gov.ph/wp-content/uploads/2014/04/CMO-64-1993.pdf">CMO 64-93</a></td>
						</tr>
						<tr class="row-91 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/03/CAO-02-2014.pdf">Download</a></td><td class="column-2">2014</td><td class="column-3">CAO 02-2014</td><td class="column-4">Simplified Procedures for Clearance of Baggage of passengers and crew of International Airlines arriving in International Airports of Entry</td>
						</tr>
						<tr class="row-92 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/08/cao-no.-03-2014-ANTI-NEPOTISM-RULES-ON-APPOINTMENTS-AND-DESIGNATIONS-IN-THE-BUREAU-OF-CUSTOMS.pdf">Download</a></td><td class="column-2">2014</td><td class="column-3">CAO 03-2014</td><td class="column-4">Anti Nepotism Rules On Appointments And Designations In The Bureau of Customs</td>
						</tr>
						<tr class="row-93 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/09/cao-04-2014-Amendment-of-CAO-No.-010-76-to-Re-define-the-Administrative-Jurisdiction-of-the-Customs-Collection-District-of-Batangas-Collection-District-IV-by-including-the-Sub-Port-of-Aurora.pdf">Download</a></td><td class="column-2">2014</td><td class="column-3">CAO 04-2014</td><td class="column-4">Amendment of CAO No. 010-76, to Re-define the Administrative Jurisdiction of the Customs Collection District of Batangas (Collection District IV), by including the Sub-Port of Aurora</td>
						</tr>
						<tr class="row-94 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/10/CAO-no.-05-2014-Formation-of-the-Compliance-Monitoring-Unit-under-the-Office-of-the-Commissioner-of-Customs-and-the-Rules-and-Regulations-Governing-its-Functions.pdf">Download</a></td><td class="column-2">2014</td><td class="column-3">CAO 05-2014</td><td class="column-4">Formation of the Compliance Monitoring Unit under the Office of the Commissioner of Customs and the Rules and Regulations Governing</td>
						</tr>
						<tr class="row-95 odd">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/10/CAO-no.06-2014-Guidelines-on-the-Imposition-of-Surcharge-under-Sec-2503-of-TCCP.pdf">Download</a></td><td class="column-2">2014</td><td class="column-3">CAO 06-2014</td><td class="column-4">Guidelines on the Imposition of Surcharge Under Sec 2503 of TCCP</td>
						</tr>
						<tr class="row-96 even">
							<td class="column-1"><a href="http://customs.gov.ph/wp-content/uploads/2014/11/CAO-no.-07-2014-Revised-Depreciation-Schedule-For-Imported-Motor-Vehicles.pdf">Download</a></td><td class="column-2">2014</td><td class="column-3">CAO 07-2014</td><td class="column-4">Revised Depreciation Schedule For Imported Motor Vehicles</td>
						</tr>
					</tbody>
					</table>
					<!-- /TABLE -->
				</div>
			</div>
		</div>
	</div>
</div>