title = "FAQ"
url = "/faq"
layout = "default"
description = "Frequently Asked Questions"
hidden = "0"
meta_title = "LRA Customs Brokerage -  Frequently Asked Questions"
meta_description = "LRA Customs Brokerage -  Frequently Asked Questions"
==
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<h1>{{ this.page.description }}</h1>
	</div>
	<div class="content-page">
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<ul class="tabbable faq-tabbable">
					<li class="active"><a href="#tab_1" data-toggle="tab">General Questions</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-sm-9">
				<div class="tab-content" style="padding:0; background: #fff;">
					<div class="tab-pane active" id="tab_1">
						<div class="panel-group" id="accordion1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
											1. What are the elements of the dutiable value?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="accordion1_1" style="height: 0px;">
									<div class="panel-body">
										<p>Elements of the dutiable value are the following:</p>
										<ul>
											<li>Cost</li>
											<li>Insurance</li>
											<li>Freight</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
											2. What are the basic requirements in the importation of goods?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="accordion1_2" style="">
									<div class="panel-body">
										<p>The basic requirements in importation of goods are the folliwing:</p>
										<ul>
											<li>Bill of Lading</li>
											<li>Commercial Invoice</li>
											<li>Packing List</li>
											<li>Certificate of Origin</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#accordion1_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
											3. Who are allowed to import goods?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="accordion1_3">
									<div class="panel-body">
										<p>Company (single, partnership, or corporation) accredited with the Bureau of Internal Revenue (BIR) & Bureau of Customs (BOC) and individual person who imports personal effects.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#accordion1_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
											4.  Who are members of ASEAN Free Trade Area (AFTA)?
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="accordion1_4">
									<div class="panel-body">
										<p>Members of the ASEAN Free Trade Area are:</p>
										<ul>
											<li>Philippines</li>
											<li>Singapore</li>
											<li>Malaysia</li>
											<li>Brunei</li>
											<li>Thailand</li>
											<li>Vietnam</li>
											<li>Laos</li>
											<li>Myanmar</li>
											<li>Cambodia</li>
											<li>Indonesia</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>			
		</div>
	</div>
</div>