title = "Forgot Password"
url = "/forgot-password"
layout = "default"
description = "Forgot Your Password?"
hidden = "0"
meta_title = "LRA Customs Brokerage - Forgot Password"
meta_description = "LRA Customs Brokerage - Forgot Password"
==
<div class="row margin-bottom-40">
	<div class="content-page">
		<div class="sidebar col-md-3 col-sm-3">
		</div>

		<div class="col-md-9 col-sm-9">
			<h1>Forgot Your Password?</h1>
			<div class="content-form-page">
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<form class="form-horizontal form-without-legend" role="form">                    
							<div class="form-group">
								<label for="email" class="col-lg-4 control-label">Email</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" id="email">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-5">
									<button type="submit" class="btn btn-primary">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>