title = "Home"
url = "/"
layout = "default"
description = "Home Page"
hidden = "0"
meta_title = "LRA Customs Brokerage - Home Page"
meta_description = "LRA Customs Brokerage - Home Page"

[editable contact_number]
file = "common/top-bar-contact-number.txt"

[editable email_address]
file = "common/top-bar-email-address.txt"

[editable our_services]
file = "home/our-services.txt"

[editable our_culture]
file = "home/our-culture.txt"

[editable our_goals]
file = "home/our-goals.txt"

[advanced]
idSlider = "1"
height = "400"
autoplay = "true"
fillmode = "2"
transaction = "1"
autoplayinterval = "2000"
pauseonhover = "1"
arrowkeynavigation = "true"
slideduration = "500"
mindragoffset = "40"
slidespacing = "0"
dragorientation = "1"
playorientation = "1"
chancetoshow = "2"
autocenter = "1"
orientation = "1"
spacingx = "8"
spacingy = "8"
steps = "1"
lanes = "1"
chancetoshowarrow = "1"
autocenterarrow = "2"
stepsarrow = "1"
==
<div class="row margin-bottom-40">
  <div class="col-md-12">
    {% component 'advanced' %}
  </div>
</div>

<div class="row service-box margin-bottom-40">
  <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-location-arrow blue"></i></em>
      <span>Our Services</span>
    </div>
    {% component 'our_services' %}
    <div class="text-right">
      <a href="{{ '/services'|app }}" class="btn btn-primary btn-sm">View Services  <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-check red"></i></em>
      <span>Our Culture</span>
    </div>
    {% component 'our_culture' %}
    <div class="text-right">
      <a href="{{ '/about'|app }}" class="btn btn-primary btn-sm">View Culture  <i class="fa fa-arrow-right"></i></a>
    </div>    
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-compress green"></i></em>
      <span>Our Goals</span>
    </div>    
    {% component 'our_goals' %}
    <div class="text-right">
      <a href="{{ '/about'|app }}" class="btn btn-primary btn-sm">View Goals  <i class="fa fa-arrow-right"></i></a>
    </div>    
  </div>
</div>

{% partial 'common/shipping-cost-banner' %}

<div class="row mix-block margin-bottom-40">
  <!-- TABS -->
  <!--
  <div class="col-md-7 tab-style-1">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab-1" data-toggle="tab">Marketing</a></li>
      <li class=""><a href="#tab-2" data-toggle="tab">Documentation/Processing</a></li>
      <li class=""><a href="#tab-3" data-toggle="tab">Accounting & Billing</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane row fade active in" id="tab-1">
        <div class="col-md-12 col-sm-12">
          <ul>
            <li>Satisfied customers are the best advertisers</li>
            <li>Reputable customs brokerage firm</li>
            <li>Publish our firm and services in social networks</li>
            <li>Professional, efficient and effective staff</li>
          </ul>
        </div>
      </div>
      <div class="tab-pane row fade" id="tab-2">
        <div class="col-md-12 col-sm-12">
          <ul>
            <li>Ask shipping documents ahead of cargo arrival</li>
            <li>Follow up shipping lines/forwarder arrival of cargo </li>
            <li>Prepare import entry and lodgement</li>
            <li>Endorse import entry</li>
            <li>Process import entry</li>
            <li>Release and deliver cargo</li>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-3">
          <ul>
            <li>Cash advance</li>
            <li>Payments</li>
            <li>Liquidation</li>
            <li>Billing</li>
            <li>Collection</li>
            <li>Recording & filing</li>
          </ul>        
      </div>
    </div>
  </div>
  -->
  <!-- END TABS -->

  <!-- QUICK LINKS -->
  <div class="col-md-12 testimonials-v1">

    <h2>Quick Links</h2>
    <p>You can find below the different Customs Memorandum and Administrative Orders.</p>
    <ul>
      <li><a href="{{ '/customs-memorandum-orders'|app }}">Customs Memorandum Orders</a></li>
      <li><a href="{{ '/customs-administrative-orders'|app }}">Customs Administrative Orders</a></li>
    </ul>

  </div>
  <!-- END QUICK LINKS -->
</div>

<div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">
  <div class="col-md-4 col-sm-4 front-step-col">
    <div class="front-step front-step1">
      <h2>Gather documents</h2>
      <p> </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 front-step-col">
    <div class="front-step front-step2">
      <h2>Import Entry</h2>
      <p> </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 front-step-col">
    <div class="front-step front-step3">
      <h2>Deliver Cargo</h2>
      <p> </p>
    </div>
  </div>
</div>