title = "Register"
url = "/register"
layout = "default"
description = "Create an account"
hidden = "0"
meta_title = "LRA Customs Brokerage - Register"
meta_description = "LRA Customs Brokerage - Register"
==
<div class="row margin-bottom-40">
	<div class="content-page">
		<div class="sidebar col-md-3 col-sm-3">
		</div>
		<div class="col-md-9 col-sm-9">
			<h1>{{ this.page.description }}</h1>
			<div class="content-form-page">
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<form class="form-horizontal" role="form">
							<fieldset>
								<legend>Your personal details</legend>
								<div class="form-group">
									<label for="firstname" class="col-lg-4 control-label">First Name <span class="require">*</span></label>
									<div class="col-lg-8">
										<input type="text" class="form-control" id="firstname">
									</div>
								</div>
								<div class="form-group">
									<label for="lastname" class="col-lg-4 control-label">Last Name <span class="require">*</span></label>
									<div class="col-lg-8">
										<input type="text" class="form-control" id="lastname">
									</div>
								</div>
								<div class="form-group">
									<label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
									<div class="col-lg-8">
										<input type="text" class="form-control" id="email">
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Your password</legend>
								<div class="form-group">
									<label for="password" class="col-lg-4 control-label">Password <span class="require">*</span></label>
									<div class="col-lg-8">
										<input type="text" class="form-control" id="password">
									</div>
								</div>
								<div class="form-group">
									<label for="confirm-password" class="col-lg-4 control-label">Confirm password <span class="require">*</span></label>
									<div class="col-lg-8">
										<input type="text" class="form-control" id="confirm-password">
									</div>
								</div>
							</fieldset>
							<div class="row">
								<div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">                        
									<button type="submit" class="btn btn-primary">Create an account</button>
									<button type="button" class="btn btn-default">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>