title = "Services"
url = "/services"
layout = "default"
description = "Services Page"
hidden = "0"
meta_title = "LRA Customs Brokerage -  Services"
meta_description = "LRA Customs Brokerage -  Services"
==
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">    
    <h1>{{ this.page.title }}</h1>
    <div class="content-page">
      <div class="row">
      	<div class="col-md-12">
	       <p>LRA Customs Brokerage provides reliable and fast services including but not limited to facilitating shipments and delivery goods across geographical borders for both organizations and individuals.</p>

			   <p>Below you will find all the services we are offering:</p>
		    </div>
      </div>
      <div class="row">
        <!-- BEGIN SERVICE BLOCKS -->               
        <div class="col-md-12">
          <div class="row margin-bottom-20">
            <div class="col-md-6">
              <div class="service-box-v1">
                <div><i class="fa fa-thumbs-up color-grey"></i></div>
                <h2>Customs Consultancy</h2>
                <p>We can check and review your incoming importation to make sure the documentary requirements are complied including the commodity clearances from other Government agencies.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-box-v1">
                <div><i class="fa fa-cloud-download color-grey"></i></div>
                <h2>Tariff Consultancy</h2>
                <p>We help minimize your importation cost through proper classification and application of "0" rate of duty privilege under ASEAN-ATIGA, ACFTA, AANZFTA, AKFTA, AIFTA, JPEPA, etc.</p>
              </div>
            </div>
          </div>
          <!--
          <div class="row margin-bottom-20">
            <div class="col-md-6">
              <div class="service-box-v1">
                <div><i class="fa fa-dropbox color-grey"></i></div>
                <h2>Import-Export Documentation</h2>
                <p>We take care of all the necessary documentations need to import/export your cargo.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-box-v1">
                <div><i class="fa fa-gift color-grey"></i></div>
                <h2>Import-Export Processing</h2>
                <p>We process importing/exporting of your cargo from source to its destination.</p>
              </div>
            </div>
          </div>
          -->
        </div>
        <!-- END SERVICE BLOCKS -->   
      </div>
      
      {% partial 'common/shipping-cost-banner' %}

      <div class="row">
        <!-- BEGIN BLOCKQUOTE -->   
        <div class="col-md-6">
          <h2>For Inquiries</h2>
          <p>If you have any inquiries, feel free to contact us through our email address or any of the contact numbers found below.</p>
          <p>You can also reach us by filling up the <a href="{{ '/contact'|app }}">form</a> found in the <a href="{{ '/contact'|app }}">Contact</a> page.</p>
        </div>
        <div class="col-md-6">
          <blockquote>
            <p>Never regard your work as mere obligation but think of it as enviable opportunity to serve the community where your works later belong.</p>
            <small><cite title="Source Title">Albert Einstein</cite></small>
          </blockquote>                
        </div>
        <!-- END BLOCKQUOTE -->
      </div>

    </div>
  </div>

</div>

