title = "Duties & Taxes Calculator"
url = "/duties-taxes-calculator"
layout = "default"
description = "Shipping Cost Calculator"
hidden = "0"
==
<?php
function onStart()
{    
    $this->addJs('assets/global/plugins/knockout/knockout-3.2.0.js');
    $this->addJs('assets/frontend/pages/scripts/shipping-calculator.js');
}
?>
==
<style type="text/css">
	.table-responsive {
	    width: 100%;
	    margin-bottom: 15px;
	    overflow-y: hidden;
	    overflow-x: scroll;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    border: 1px solid #DDD;
	    -webkit-overflow-scrolling: touch;		
	}
	.item-data {
		width: 100px;
	}
</style>
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<h1>{{ this.page.title }}</h1>
		<div class="content-page">
			<div class="note note-success">
				<h4 class="block">Eos feugait consetetur in.</h4>
				<p>
					Solum doctus molestiae te nam, at regione quaeque vix. Nam apeirian pertinacia an. Dicam decore vix id, vim in cibo paulo mediocrem, legere audiam intellegebat eos eu. Ea porro tractatos expetendis mel. Eius dictas nostrum cum an.
				</p>
			</div>		
			<!-- BEGIN INFO HEADING -->	
			<div class="row">
				
				<!-- BEGIN IMPORTER'S INFO -->
				<div class="col-md-4">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th colspan="2" class="text-center">Importer's Information</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Name:</td>
								<td><input type="text" name="importer[name]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Address 1:</td>
								<td><input type="text" name="importer[address][1]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Address 2:</td>
								<td><input type="text" name="importer[address][2]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Address 3:</td>
								<td><input type="text" name="importer[address][3]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Contact Person:</td>
								<td><input type="text" name="importer[contact_person]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>T.I.N:</td>
								<td><input type="text" name="importer[tin]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Accreditation Number:</td>
								<td><input type="text" name="importer[accreditation_number]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Expiry Date:</td>
								<td><input type="text" name="importer[expiry_date]" class="form-control input-sm"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- END IMPORTER"S INFO -->
				
				<!-- BEGIN SUPPLIERS'S INFO -->
				<div class="col-md-4">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th colspan="2" class="text-center">Supplier's Information</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Name:</td>
								<td><input type="text" name="supplier[name]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Address 1:</td>
								<td><input type="text" name="supplier[address][1]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Address 2:</td>
								<td><input type="text" name="supplier[address][2]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td colspan="2">Goods Description and Quantity:</td>								
							</tr>
							<tr>
								<td colspan="2"><textarea name="supplier[goods_description_quantity]" class="form-control"></textarea></td>
							</tr>
						</tbody>
					</table>					
				</div>
				<!-- END SUPPLIERS'S INFO -->
				
				<!-- BEGIN SHIPPING DETAILS -->
				<div class="col-md-4">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th colspan="2" class="text-center">Shipping Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Shipping Method:</td>
								<td><input type="text" name="shipping[method]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Shipping/Airline:</td>
								<td><input type="text" name="shipping[airline]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Vessel/Aircraft:</td>
								<td><input type="text" name="shipping[aircraft]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>E.T.A:</td>
								<td><input type="text" name="shipping[eta]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>BL/AWB No:</td>
								<td><input type="text" name="shipping[bl_awb_no]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Registry No:</td>
								<td><input type="text" name="shipping[registry_no]" class="form-control input-sm"></td>
							</tr>
							<tr>
								<td>Port Code:</td>
								<td><input type="text" name="shipping[port_code]" class="form-control input-sm"></td>
							</tr>							
						</tbody>
					</table>
				</div>				
				<!-- END SHIPPING DETAILS -->

			</div>
			<!-- END INFO HEADING -->

			<!-- BEGIN PARTICULARS -->
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>										
									<th class="text-center">Item</th>
									<th class="text-center">Tariff Heading</th>
									<th class="text-center">Rate of Customs Duty</th>
									<th class="text-center">Item Weight</th>
									<th class="text-center">FOB Value</th>
									<th class="text-center">Insurance (4%)</th>
									<th class="text-center">Marine Insurance</th>
									<th class="text-center">Freight</th>
									<th class="text-center">Other Dutiable Value</th>
									<th class="text-center"><u>Dutiable Value</u></th>
									<th class="text-center">Forex Rate (US$=PhP)</th>
									<th class="text-center"><u>Dutiable Value</u></th>
									<th class="text-center">Customs Duty</th>
									<th class="text-center">Excise Tax</th>
									<th class="text-center">Safeguard Duty</th>
									<th class="text-center">Brokerage Fee</th>
									<th class="text-center">Arrastre Fee</th>
									<th class="text-center">Wharfage Fee</th>
									<th class="text-center">Import Processing Fee</th>
									<th class="text-center">Customs Doc Stamps</th>
									<th class="text-center"><u>TOTAL LANDED COST</u></th>
									<th class="text-center">Value Added Tax (VAT)</th>
								</tr>
								<tr>
									<th class="text-center"><button class="btn btn-block btn-info" data-bind="click: addItem"><i class="fa fa-plus"></i> Add </button></th>								
									<th colspan="2"> </th>								
									<th class="text-center">KGS</th>								
									<th colspan="6" class="text-center">USD</th>								
									<th><input data-bind="value: rates.forexRate" type="text" class="item-data form-control"></th>
									<th colspan="10" class="text-center">PHP</th>								
									<th>

										<div class="input-group">
											<input data-bind="value: rates.taxRate" type="text" class="item-data form-control">
											<span class="input-group-addon">%</span>
										</div>

										
									</th>
								</tr>							
							</thead>
							<tbody data-bind="foreach: items">
								<tr>
									<td>										
									    <div class="input-group">
									      <span class="input-group-btn">
									        <button class="btn btn-danger" type="button" data-bind="click: $parent.removeItem"> X </button>
									      </span>
									      <input data-bind="value: itemName" type="text" class="item-data form-control" placeholder="Item Name" style="width:100px">
									    </div>
									</td>
									<td><input data-bind="value: tariffHeading" type="text" class="item-data form-control"></td>
									<td><input data-bind="value: rateOfCustomsDuty" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: itemWeight" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: fobValue" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: insurance" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: marineInsurance" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: freight" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: otherDutiableValue" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: dutiableValueUsd" type="number" step="any" class="item-data form-control" disabled></td>
									<td>&nbsp;</td>
									<td><input data-bind="value: dutiableValuePhp" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: customsDuty" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: exciseTax" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: safeguardDuty" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: brokerageFee" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: arrastreFee" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: wharfageFee" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: importProcessingFee" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: customsDocStamps" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: totalLandedCost" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: valueAddedTax" type="number" step="any" class="item-data form-control" disabled></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="text-center"><strong>TOTAL</strong></td>
									<td>&nbsp;</td>
									<td><input data-bind="value: itemTotals.rateOfCustomsDuty" type="number" step="any" class="item-data form-control hidden" disabled></td>
									<td><input data-bind="value: itemTotals.itemWeight" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.fobValue" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.insurance" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.marineInsurance" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.freight" type="number" step="any" class="item-data form-control" ></td>
									<td><input data-bind="value: itemTotals.otherDutiableValue" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.dutiableValueUsd" type="number" step="any" class="item-data form-control" disabled></td>
									<td>&nbsp;</td>
									<td><input data-bind="value: itemTotals.dutiableValuePhp" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.customsDuty" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.exciseTax" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.safeguardDuty" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.brokerageFee" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.arrastreFee" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.wharfageFee" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.importProcessingFee" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: itemTotals.customsDocStamps" type="number" step="any" class="item-data form-control"></td>
									<td><input data-bind="value: itemTotals.totalLandedCost" type="number" step="any" class="item-data form-control" disabled></td>
									<td><input data-bind="value: itemTotals.valueAddedTax" type="number" step="any" class="item-data form-control" disabled></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<!-- END PARTICULARS -->

			<!-- BEGIN BOTTOM BUTTONS -->
			<div class="row">
				<div class="col-md-12">					
					<button data-bind="click: submit" data-toggle="modal" data-target="#modal-shipping-cost-summary" class="btn btn-success pull-right">Summary</button>
					<button class="btn btn-danger pull-right">Reset</button>
				</div>
			</div>
			<!-- END BOTTOM BUTTONS -->

		</div>
	</div>
</div>

{% partial 'modals/shipping-cost-summary' %}