title = "Duties & Taxes Summary Print"
url = "/duties-taxes-print"
layout = "print"
description = "Duties & Taxes Summary Print"
hidden = "0"
==
<?php
	function onStart() {
		$summaryArray = $computationArray = array();

		$summary = (array) get('summary');
		foreach($summary as $key => $val) {
			$summaryArray[$key] = '₱ ' . number_format($val, 2);
		}
		$computation = get('computation');

		$computation['twentyFooter']['arrastre']['rate'] 	= '₱ ' . number_format( floatval($computation['twentyFooter']['arrastre']['rate']), 2);
		$computation['twentyFooter']['arrastre']['amount'] 	= '₱ ' . number_format( floatval($computation['twentyFooter']['arrastre']['amount']), 2);
		$computation['twentyFooter']['wharfage']['rate ']	= ''   . number_format( floatval($computation['twentyFooter']['wharfage']['rate']), 2);
		$computation['twentyFooter']['wharfage']['amount'] 	= '₱ ' . number_format( floatval($computation['twentyFooter']['wharfage']['amount']), 2);
		$computation['total']['arrastre'] 					= '₱ ' . number_format( floatval($computation['total']['arrastre']), 2);
		$computation['total']['wharfage'] 					= '₱ ' . number_format( floatval($computation['total']['wharfage']), 2);
		$computation['fortyFooter']['arrastre']['rate'] 	= '₱ ' . number_format( floatval($computation['fortyFooter']['arrastre']['rate']), 2);
		$computation['fortyFooter']['arrastre']['amount'] 	= '₱ ' . number_format( floatval($computation['fortyFooter']['arrastre']['amount']), 2);
		$computation['fortyFooter']['wharfage']['rate'] 	= '₱ ' . number_format( floatval($computation['fortyFooter']['wharfage']['rate']), 2);
		$computation['fortyFooter']['wharfage']['amount'] 	= '₱ ' . number_format( floatval($computation['fortyFooter']['wharfage']['amount']), 2);
		$computation['twentyFooter']['storage']['rate'] 	= '₱ ' . number_format( floatval($computation['twentyFooter']['arrastre']['rate']), 2);
		$computation['twentyFooter']['storage']['amount'] 	= '₱ ' . number_format( floatval($computation['twentyFooter']['storage']['amount']), 2);
		$computation['fortyFooter']['storage']['rate'] 		= '₱ ' . number_format( floatval($computation['fortyFooter']['storage']['rate']), 2);
		$computation['fortyFooter']['storage']['amount'] 	= '₱ ' . number_format( floatval($computation['fortyFooter']['storage']['amount']), 2);
		$computation['total']['storage'] 					= '₱ ' . number_format( floatval($computation['total']['storage']), 2);

		$this['summary'] = $summaryArray;
		$this['computation'] = $computation;
	}
?>
==
<style type="text/css">
	.main { zoom: 0.80; -moz-transform: scale(3); -moz-transform-origin: 0 0; }
</style>
<div class="row hidden-print">
	<div class="col-md-12">
		<button type="button" class="btn btn-lg btn-info pull-right" onclick="window.print()"><i class="fa fa-print"></i> Print</button>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Estimated Duties, Taxes, and Other Charges</h4>
    <table class="table table-bordered table-condensed">
      <tbody>
        <tr>
          <td>Duties and Taxes</td>
          <td>{{ summary.dutiesAndTaxes }}</td>
        </tr>
        <tr>
          <td>Brokerage Fee</td>
          <td>{{ summary.brokerageFee }}</td>
        </tr>
        <tr>
          <td>VAT on Brokerage Fee</td>
          <td>{{ summary.vatOnBrokerageFee }}</td>
        </tr>                        
        <tr>
          <td>Terminal Handling Charge (THC)</td>
          <td>{{ summary.terminalHandlingCharge }}</td>
        </tr> 
        <tr>
          <td>Container Deposit</td>
          <td>{{ summary.containerDeposit }}</td>
        </tr>
        <tr>
          <td>Encoding Fee</td>
          <td>{{ summary.encodingFee }}</td>
        </tr>
        <tr>
          <td>Customs Doc Stamps</td>
          <td>{{ summary.customsDocStamps }}</td>
        </tr>
        <tr>
          <td>SDV Stamps</td>
          <td>{{ summary.sdvStamps }}</td>
        </tr>
        <tr>
          <td>Arrastre</td>
          <td>{{ summary.arrastre }}</td>
        </tr>
        <tr>
          <td>Wharfage</td>
          <td>{{ summary.wharfage }}</td>
        </tr>
        <tr>
          <td>Storage Fee</td>
          <td>{{ summary.storageFee }}</td>
        </tr>
        <tr>
          <td>Demurrage Charges</td>
          <td>{{ summary.demurrageCharges }}</td>
        </tr>
        <tr>
          <td>Equipment Insurance Clearance</td>
          <td>{{ summary.equipmentInsuranceClearance }}</td>
        </tr>
        <tr>
          <td>PDEA Clearance</td>
          <td>{{ summary.pdeaClearance }}</td>
        </tr>
        <tr>
          <td>Customs Forms/Xerox/Notarial</td>
          <td>{{ summary.customsFormsXeroxNotarial }}</td>
        </tr>
        <tr>
          <td>Documentation/Processing</td>
          <td>{{ summary.documentationProcessing }}</td>
        </tr>
        <tr>
          <td>Port Handling</td>
          <td>{{ summary.portHandling }}</td>
        </tr>
        <tr>
          <td>Examination</td>
          <td>{{ summary.examination }}</td>
        </tr>
        <tr>
          <td>Delivery</td>
          <td>{{ summary.delivery }}</td>
        </tr>
        <tr>
          <td><strong>TOTAL ESTIMATED COST</strong></td>
          <td><strong>{{ summary.totalEstimatedCost }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Computation for Arrastre and Wharfage Charges</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Container</th>
          <th>Qty</th>
          <th colspan="2">Arrastre</th>
          <th colspan="2">Wharfage</th>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>Rate</td>
          <td>Amount</td>
          <td>Rate</td>
          <td>Amount</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20 Ftr</td>
          <td>{{ computation.twentyFooter.quantity }}</td>
          <td>{{ computation.twentyFooter.arrastre.rate }}</td>
          <td>{{ computation.twentyFooter.arrastre.amount }}</td>
          <td>₱ {{ computation.twentyFooter.wharfage.rate }}</td>
          <td>{{ computation.twentyFooter.wharfage.amount }}</td>
        </tr>
        <tr>
          <td>40 Ftr</td>
          <td>{{ computation.fortyFooter.quantity }}</td>
          <td>{{ computation.fortyFooter.arrastre.rate }}</td>
          <td>{{ computation.fortyFooter.arrastre.amount }}</td>
          <td>{{ computation.fortyFooter.wharfage.rate }}</td>
          <td>{{ computation.fortyFooter.wharfage.amount }}</td>
        </tr>                
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Total</strong></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>{{ computation.total.arrastre }}</td>
          <td>&nbsp;</td>
          <td>{{ computation.total.wharfage }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Computation for Storage Fees</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Container</th>
          <th>Qty</th>
          <th>Rate/Cont</th>
          <th># of Days</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20 Ftr</td>
          <td>{{ computation.twentyFooter.quantity }}</td>
          <td>{{ computation.twentyFooter.storage.rate }}</td>
          <td>{{ computation.twentyFooter.storage.days }}</td>
          <td>{{ computation.twentyFooter.storage.amount }}</td>
        </tr>
        <tr>
          <td>40 Ftr</td>
          <td>{{ computation.fortyFooter.quantity }}</td>
          <td>{{ computation.fortyFooter.storage.rate }}</td>
          <td>{{ computation.fortyFooter.storage.days }}</td>
          <td>{{ computation.fortyFooter.storage.amount }}</td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>{{ computation.total.storage }}</td>
        </tr>                
      </tbody>
    </table>
  </div>
</div> 