description = "Default layout"

[menu]
start = "id-1"
activeNode = "0"
listItemClasses = "none"
primaryClasses = "none"
secondaryClasses = "none"
tertiaryClasses = "none"
numberOfLevels = "1"

[account]
redirect = "home"
paramCode = "code"

[session]
security = "all"

[editable contact_number]
file = "common/top-bar-contact-number.txt"

[editable email_address]
file = "common/top-bar-email-address.txt"

[editable footer_about_us]
file = "common/footer-about-us.htm"
==
<?php
function onStart()
{
	$this['current_year'] = date('Y');
	$this['app_logo'] = Backend\Models\BrandSettings::getLogo();
	$this['app_name'] = e(Backend\Models\BrandSettings::get('app_name'));
	$this['app_tagline'] = e(Backend\Models\BrandSettings::get('app_tagline'));
}
?>
==
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
{% partial "head" %}
<!-- Head END -->

<body class="corporate">

	<!-- BEGIN TOP BAR -->
	{% partial "top-bar" %}
	<!-- END TOP BAR -->

	<!-- BEGIN HEADER -->
	<div class="header">
	  <div class="container">

	  	<!-- BEGIN LOGO -->
		<a class="site-logo" href="/"><img src="{{ 'assets/frontend/layout/img/logos/lracustoms_logo_large.png'|theme }}" alt="LRA Customs Brokerage" style="max-width: 460px"></a>  	
	  	<!-- END LOGO -->

	  	<a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

	    <!-- BEGIN NAVIGATION -->
	    <div class="header-navigation pull-right font-transform-inherit" style="margin-top: 1px">
        	{% component 'menu' %}
        </div>
	    <!-- END NAVIGATION -->
	  </div>
	</div>
	<!-- END HEADER -->

	<div class="main">
		<div class="container">
			{% page %}			
		</div>
	</div>

	<!-- FOOTER  -->
	{% partial "footer" %}
	<!-- END FOOTER -->
</body>

<!-- END OF PAGE  -->
{% partial "end-of-page" %}
<!-- /END OF PAGE  -->