description = "Print layout"
==
<?php
function onStart()
{
	$this['current_year'] = date('Y');
	$this['app_logo'] = Backend\Models\BrandSettings::getLogo();
	$this['app_name'] = e(Backend\Models\BrandSettings::get('app_name'));
	$this['app_tagline'] = e(Backend\Models\BrandSettings::get('app_tagline'));
}
?>
==
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
{% partial "head" %}
<!-- Head END -->

<body class="corporate">

	<div class="main">
		<div class="container">
			{% page %}			
		</div>
	</div>

</body>

<!-- END OF PAGE  -->
{% partial "end-of-page" %}
<!-- /END OF PAGE  -->